@{
    ViewBag.Title = "Meeting Details"; 
}
<main class="text-center">

    <h1 class="h4">Meeting Summary</h1>
    <p>20 people will attent the meeting with you</p>
    <a class="btn btn-sm btn-outline-primary" href="#">Show Attendance List</a>
</main>