@model Meetinginfo
@{
    ViewBag.Title = "Register Meeting";
    Layout = "_Layout2";
}
<main class="text-center">
    <h1 class="h4">@ViewData["Greeting"] <!--@ViewData["UserName"]--></h1>
    <p>Will you attend the meeting?</p>
    <div class="card my-2">  <!--alttan üstten biraz boşluk olacak şekilde kart oluşturur-->
        <ul class="list-group list-group-flush"> <!--kenarları köşeleri olmayan bir liste oluşturur.-->
            <li class="list-group-item">@Model.Location</li>
            <li class="list-group-item">The Meeting date is @Model.Date.ToString("dd/MM/yyyy HH:mm:ss")</li>
            <li class="list-group-item">@Model.NumberOfPeople Participants</li>
    
        </ul>
    </div>
<a class="btn btn-sm btn-outline-primary"asp-controller="Meeting" asp-action="Apply">Register Now!</a>
</main>